name: Flute tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-run-unit-tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Zig
        uses: ./.github/actions/setup-zig
        with:
          version: 0.14.1

      - name: Verify Zig version
        run: zig/zig version

      - name: Run tests
        run: zig/zig build test --summary all